# SF Salaries Exercise

** Import pandas as pd.**

In [1]:
#import pandas library
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [2]:
#read csv file by buit in fun pd.read_csv
salaries = pd.read_csv('Salaries.csv')
salaries

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

** Check the head of the DataFrame. **

In [3]:
salaries.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [4]:
#print salaries information :(indexing of data-columns )
salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [5]:
#give the mean(average salary) of salaries 
salaries['BasePay'].mean()

66325.44884050643

** What is the highest amount of OvertimePay in the dataset ? **

In [6]:
#give the maximum over bonus of emploemployees 
x=salaries['OvertimePay'].max()

In [7]:
x

245131.88

In [8]:
salaries

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [9]:
# using indexing to search about jouseph's jop title in Jobtitle col
salaries['EmployeeName']==['JOSEPH DRISCOLL']['JobTitle']

<>:2: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
<>:2: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
C:\Users\Tarek Samy\AppData\Local\Temp\ipykernel_19620\412618923.py:2: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  salaries['EmployeeName']==['JOSEPH DRISCOLL']['JobTitle']
C:\Users\Tarek Samy\AppData\Local\Temp\ipykernel_19620\412618923.py:2: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  salaries['EmployeeName']==['JOSEPH DRISCOLL']['JobTitle']
C:\Users\Tarek Samy\AppData\Local\Temp\ipykernel_19620\412618923.py:2: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  salaries['EmployeeName']==['JOSEPH DRISCOLL']['JobTitle']
C:\Users\Tarek Samy\AppData\Local\Temp\ipykernel_19620\412618923.py:2: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  salaries['EmployeeName']==['JOSEPH DRISCOLL']['JobTitle']

TypeError: list indices must be integers or slices, not str

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [10]:
#by using indexing search about 'JOSEPH DRISCOLL' and find his TotalpayBenifits
sal['EmployeeName']==['JOSEPH DRISCOLL']['TotalPayBenefits']

<>:2: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
<>:2: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
C:\Users\Tarek Samy\AppData\Local\Temp\ipykernel_19620\3258562200.py:2: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  sal['EmployeeName']==['JOSEPH DRISCOLL']['TotalPayBenefits']
C:\Users\Tarek Samy\AppData\Local\Temp\ipykernel_19620\3258562200.py:2: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  sal['EmployeeName']==['JOSEPH DRISCOLL']['TotalPayBenefits']
C:\Users\Tarek Samy\AppData\Local\Temp\ipykernel_19620\3258562200.py:2: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  sal['EmployeeName']==['JOSEPH DRISCOLL']['TotalPayBenefits']

NameError: name 'sal' is not defined

** What is the name of highest paid person (including benefits)?**

In [11]:
#found the maximum total paybenefits
#get the max salary and get the person who take this salary
y=salaries['TotalPayBenefits'].max()
y

567595.43

In [12]:
#searching by indexing from the emploemployee who has the maximum paybenefits
salaries['TotalPayBenefits']==y

0          True
1         False
2         False
3         False
4         False
          ...
148649    False
148650    False
148651    False
148652    False
148653    False
Name: TotalPayBenefits, Length: 148654, dtype: bool

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [23]:
#get the min salary and get the person who take this salary
z=salaries['TotalPayBenefits'].min()
z 
#i note that salary is outlighter

-618.13

In [22]:
salaries['TotalPayBenefits']==z

0          True
1         False
2         False
3         False
4         False
          ...
148649    False
148650    False
148651    False
148652    False
148653    False
Name: TotalPayBenefits, Length: 148654, dtype: bool

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [15]:
salaries.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [16]:
salaries['JobTitle'].nunique()

2159

** What are the top 5 most common jobs? **

In [17]:
salaries['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [18]:
sum(salaries[salaries['Year']['JobTitle'].value_counts() == 1

SyntaxError: unexpected EOF while parsing (1867891587.py, line 1)

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [19]:
#first:  search about the chief word in year of 2013 
#second: give the sum of repetitive of chief in year 2013
sum(salaries['JobTitle'].value_counts() == 1)

239

In [20]:
def chief_string(title):
    if 'chief' in title:
        return True
    else:
        return False

In [21]:
sum(salaries['JobTitle'].value_counts() == 1)

239

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

# Great Job!